[Unit]
Description=Webflux app

[Install]
WantedBy=multi-user.target

[Service]
User=webfluxapp-user
Group=webfluxapp-group
TimeoutSec=20
Restart=always
WorkingDirectory=/opt/webfluxapp
ExecStart=/usr/bin/java -jar lib/webfluxapp.jar
